# Node modules and build output
node_modules/
out/
dist/

media
backend
# TypeScript build artifacts
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code settings
.vscode/
.vscode-test/
.vscode-test*/

# Environment
.env
.direnv/

# Nix
/result
*.drv
.nix-gc-roots/
*.vsix

# macOS
.DS_Store

# System files
Thumbs.db
